/* 
  Author: Ajay Singh
  Version: 1.3
  Date: 01-07-2024
  Description: Styles for data table, including cell padding, text alignment, and hover effects.
*/

/* Data Table */
#dataTable {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    box-sizing: border-box;
}

#dataTable th, #dataTable td {
    padding: 0.75rem; /* Increased padding for better readability */
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);
}

#dataTable th {
    cursor: pointer;
    font-weight: bold;
}

/* Program Name Highlight */
#dataTable td.program-name {
    color: var(--highlight-color); /* Yellow for program names */
    font-weight: bold; /* Bold for emphasis */
}

/* Highlighting for search results */
.highlight {
    background-color: var(--highlight-color); /* Background color for highlighting */
    color: var(--primary-bg-color); /* Text color to contrast with the background */
    font-weight: bold; /* Make the highlighted text bold */
    padding: 0; /* Ensure no extra padding */
    border-radius: 4px; /* 4-pixel border-radius for rounded corners */
}

/* Table Row Hover Effect */
#dataTable tr:hover {
    background-color: var(--row-hover-bg-color);
}
